<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BurjKhalifa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="soapUserName" value="ATTTicketingUser" />
    <add key="soapPassword" value="ATTTicketingUser#971" />
    <add key="serviceUsername" value="ATTServiceUser" />
    <add key="servicePassword" value="bZ8LNAroyxf+iR3YqRf6Ng==" />
    <!--<add key="PaymentGateway_PublicApiKey" value="sbpb_YzNhMzU1YTItNmM4OC00MTgyLThhMWItNzgwNGFhZTkxZmY2"/>
    <add key="PaymentGateway_PrivateApiKey" value="ecJAWD6AaL4FyYu7WeRTv+Bu48Joq6rzreJhZN+X1fx5YFFQL0ODSXAOkNtXTToq"/>-->
    <!--Parameters for captcha-->
    <add key="captcha_sitekey" value="6LfyHRwTAAAAAEH1xPc1ZsmxE3rSwXOc6fy1MD-i" />
    <add key="captcha_theme" value="black" />
    <!--Merchant Information for Payment Gateway-->
    <add key="hashSecrest" value="491E75AC4B46BADCDBD3CE0A74EBFF04" />
    <add key="AccessCode" value="D276AE5C" />
    <add key="MerchTxnRef" value="38722" />
    <add key="Merchant" value="TEST900645" />
    <add key="Version" value="1" />
    <add key="Command" value="pay" />
    <add key="Locale" value="en" />
    <add key="PaymentUrl" value="https://migs.mastercard.com.au/vpcpay" />
    <!--FB-->
    <!--<add key="FBappId" value="562069067288271" />
    <add key="FBversion" value="v2.5" />-->
    <add key="FBappId" value="297311063959457" />
    <add key="FBversion" value="v2.7" />
    <add key="FBAppURL" value="https://apps.facebook.com/burjkhalifatickets/" />
    <add key="AppURL" value="https://tickets.atthetop.ae/fbApp/" />
    <add key="MIGSURL" value="https://migs.mastercard.com.au/" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web>
    <!--<httpHandlers>
      <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
    </httpHandlers>-->
    <authorization>
      <deny verbs="OPTIONS" users="*" />
    </authorization>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" executionTimeout="36000" />
    <customErrors mode="On" defaultRedirect="~/CustomError">
      <!--<error statusCode="404" redirect="" />-->
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <BurjKhalifa.Properties.Settings>
      <setting name="BurjKhalifa_WebReference_ATTTicketing" serializeAs="String">
        <value>https://soastagex.emaar.ae/soa-infra/services/erg/ERGAttTicketingProject/attticketingprocess_client_ep</value>
      </setting>
    </BurjKhalifa.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: {11144952-B1D0-45DA-8A57-F2580F107A9A}-->