
@{
    ViewBag.Title = "ContactUs";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Contact</b> Us </h1><span class="line"><hr></span></div>
            @*<p class="time">1 : 00 PM</p>*@
            @*<div class="date-area">
                <span id="day" class="day">FRIDAY</span>
                <span id="date" class="date">20</span>
                <span id="mnt" class="month">FEBRUARY</span>
                <span class="time">1 : 00 PM </span>
            </div>*@
       
             
                <ul class="address-list">
                    <li>
                        <h4>Burj Khalifa</h4>

                        <p>1 Mohammed Bin Rashid Boulevard</p>

                        <p>Downtown Dubai</p>

                        <p>Dubai, UAE</p>

                        <p>Within UAE: 800 BURJ</p>

                        <p>International: <span class="skype_c2c_print_container notranslate">+9714 8888888</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertype="paid" data-numbertocall="+97148888888" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">+9714 8888888</span><span class="skype_c2c_free_text_span"></span></span></span></span></p>

                    </li>
                    <li>
                        <h4>At the Top, Burj Khalifa</h4>

                        <p>Within UAE: 800 ATTHETOP</p>

                        <p>(800 28843867)</p>

                        <p>International: <span class="skype_c2c_print_container notranslate">+9714 8888124</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertype="paid" data-numbertocall="+97148888124" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">+9714 8888124</span><span class="skype_c2c_free_text_span"></span></span></span></span></p>

                    </li>
                    <li>
                        <h4>Schools &amp; Educational Tours</h4>

                        <p>Email: schools@atthetop.ae</p>

                    </li>
                    <li>
                        <h4>Emaar Properties PJSC</h4>

                        <p>P.O.Box 9440</p>

                        <p>Dubai</p>

                        <p>United Arab Emirates</p>

                        <p>Tel <span class="skype_c2c_print_container notranslate">+971 4 367 3333</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertype="paid" data-numbertocall="+97143673333" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">+971 4 367 3333</span><span class="skype_c2c_free_text_span"></span></span></span></span></p>

                        <p>Fax +971 4 367 3000</p>

                    </li>
                    <li>
                        <h4>Emaar Square Sales Center</h4>

                        <p>Downtown Dubai,</p>

                        <p>Emaar Square,</p>

                        <p>Building 3, Ground level</p>

                        <p>Location Map</p>

                        <p>Tel +800-Emaar (800-36227)</p>

                        <p>Fax + 971 4 367 5566</p>

                    </li>
                </ul>
         

        </div>
        <div class="right-sidebar personal-information">
            
            <ul class="address-list">
                <li>

                    <p>
                        <strong>General, Property and Sales Enquiries</strong>
                    </p>

                    <p>Within UAE (Toll Free): 800 Emaar (36227)&nbsp;</p>

                    <p>International <span class="skype_c2c_print_container notranslate">+971 4 366 1688</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertype="paid" data-numbertocall="+97143661688" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">+971 4 366 1688</span><span class="skype_c2c_free_text_span"></span></span></span></span>&nbsp;</p>

                    <p>Fax +971 4 366 1600</p>

                </li>
                <li>

                    <p>
                        <strong>Event Queries</strong>
                    </p>

                    <p>For all queries related to Event Venues at Burj Khalifa&nbsp;</p>

                    <p id="email">Email: Events@burjkhalifa.ae</p>

                </li>
                <li>

                    <p>
                        <strong>At the Top, Burj Khalifa Tickets &amp; General Queries</strong>
                    </p>

                    <p id="info">Email: Info@atthetop.ae</p>

                </li>
                <li>

                    <p>
                        <strong>Media Queries</strong>
                    </p>

                    <p>For media related queries, please contact ASDA’A Burson-Marstellar our PR agency.&nbsp;</p>

                    <p>Telephone: <span class="skype_c2c_print_container notranslate">+9714 4507 600</span><span data-ismobile="false" data-isrtl="false" data-isfreecall="false" data-numbertype="paid" data-numbertocall="+97144507600" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" tabindex="-1" dir="ltr" class="skype_c2c_container notranslate" id="skype_c2c_container"><span skypeaction="skype_dropdown" dir="ltr" class="skype_c2c_highlighting_inactive_common"><span id="non_free_num_ui" class="skype_c2c_textarea_span"><img width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png" class="skype_c2c_logo_img"><span class="skype_c2c_text_span">+9714 4507 600</span><span class="skype_c2c_free_text_span"></span></span></span></span></p>

                </li>
            </ul>

            <span class="">
                <button type="button" onclick="facebook_send_message();" class="black-but-big">Contact Now</button>
            </span>
        </div>
    </div>
</div>

@section scripts{

    <script>
       

        function facebook_send_message() {
        FB.ui({
            app_id: 297311063959457,//'another app Id: 1516107235376121 ' burj app id:297311063959457 ,
            method: 'send',
            name: "Burj Khalifa",
            link: 'https://apps.facebook.com/burjkhalifatickets/',
            to: 501106920095007,//445558305649869,//snehal:1070628499667680,Mayur:501106920095007
            //description: 'sdf sdf sfddsfdd s d  fsf s '

        });
        @*alert("hii");*@
    }
        $(document).ready(function () {
            user = ' Events';
            site = 'burjkhalifa.ae';
            $('#email').html('Email : <a href=\"mailto:' + user + '@@' + site + '">' + user + '@@' + site + '</a>');
            $('#info').html('Email : <a href=\"mailto:info@@' + site + '">' + user + '@@' + site + '</a>');
            
        });
</script>
    }







