
@{
    ViewBag.Title = "CustomError";
}


@*<div>
    We can't locate the requested page or document. It may have been moved or there may be a
    problem with our server. Sorry, for the inconvenience.
</div>*@

<div class="main-content select-day">
    <div class="row">
        <div class="left-sidebar">

           
        </div>
        <div class="right-sidebar">

            <p><strong>Error!</strong> </p>
            <div>

                We can't locate the requested page or document. It may have been moved or there may be a
                problem with our server. Sorry, for the inconvenience. To book again please <a href="@Url.Action("Index","Home")">click here.</a>
            </div>
        </div>
    </div>
</div>