@{
    ViewBag.Title = "_HomePage";
}
<style>
    .top-link {
        display: none;
        visibility: hidden;
    }
</style>
<div id="fb-root"></div>

<div class="main-intro">
    <!-- <div class="home-bg"></div> -->
    <div class="btn-group">
        <div class="page-heading"><h1 class="page-title"><b>Book</b> <br/> Tickets</h1><span class="line"><hr></span></div><br>
        <a href="javascript:void(0);" id="startNow" class="black-but-big">Start Now<i class="fa fa-arrow-circle-right"></i></a>

        <div class="fb-like" data-href="https://www.facebook.com/AtthetopBurjkhalifa/" data-colorscheme="dark" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/slider-img0.jpg" alt="slide1">
            </div>
            <div class="item">
                <img src="~/Content/images/slider-img1.jpg" alt="slide1">
            </div>
            <div class="item">
                <img src="~/Content/images/slider-img2.jpg" alt="slide2">
            </div>
            <div class="item">
                <img src="~/Content/images/slider-img3.jpg" alt="slide3">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
            <span class="carousel-arrow"><img src="~/Content/images/left-arrow.png" alt="Arrow Left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
            <span class="carousel-arrow"><img src="~/Content/images/right-arrow.png" alt="Arrow Right"></span>
        </a>
    </div>
    <div class="slider-text" id="ticketinfo">
        <h4>Tickets <br><strong>Information</strong></h4>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="left-side">
                    <div class="table-responsive">
                        <table class="table ticket-table">
                            <thead>
                                <tr class="bg-orange">
                                    <th class="type1">TICKET TYPE</th>
                                    <th class="type2 ctrl">At the Top, Burj Khalifa <br> L124</th>
                                    <th class="type3 ctrl">At the Top, Burj Khalifa SKY <br> L148 + L125</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="step1"><strong>For visits scheduled during non-prime hours</strong></label>
                                        <span>Adult(12 years +) General Admission</span>
                                        <span>Chid (4-12 years) General Admission</span>
                                    </td>
                                    <td class="ctrl">
                                        <label class="step2"><strong>08h00 - 15h30 and 18h30 until closing</strong></label>
                                        <span>AED 125</span>
                                        <span>AED 95</span>
                                    </td>
                                    <td class="ctrl">
                                        <label class="step3"><strong>18h30 until closing</strong></label>
                                        <span>AED 350</span>
                                        <span>AED 350</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><strong>For visits scheduled during prime hours</strong></label>
                                        <span>Adult(12 years +) General Admission</span>
                                        <span>Chid (4-12 years) General Admission</span>
                                    </td>
                                    <td class="ctrl">
                                        <label><strong>16h00-18h00</strong></label>
                                        <span>AED 200</span>
                                        <span>AED 160</span>
                                    </td>
                                    <td class="ctrl">
                                        <label><strong>Opening until 17h00</strong></label>
                                        <span>AED 500</span>
                                        <span>AED 500</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Adult(12 years +) Immediate Entry Admission</span>
                                        <span>Chid(4-12 years) Immediate Entry Admission</span>
                                    </td>
                                    <td class="ctrl">
                                        <span>AED 300</span>
                                        <span>AED 300</span>
                                    </td>
                                    <td class="ctrl">
                                        <span>N/A</span>
                                        <span>N/A</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Infant (below 4 years) Immediate Entry Admission</span>
                                        <span>Infant (below 4 years) Immediate Entry Admission</span>
                                    </td>
                                    <td class="ctrl">
                                        <span>FREE</span>
                                        <span>FREE</span>
                                    </td>
                                    <td class="ctrl">
                                        <span>FREE</span>
                                        <span>FREE</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="black-but-big" id="SelectDate" href="javascript:void(0);">SELECT YOUR DATE<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="right-side">
                    <h1>Did you <strong>know?</strong></h1>
                    <p>At over 828 metres (2,716.5 feet) and<br> more than 160 stories, Burj Khalifa holds<br> the following records:</p>
                    <ul>
                        <li>Tallest building in the world</li>
                        <li>Tallest free-standing structure in the world</li>
                        <li>Highest number of stories in the world</li>
                        <li>Highest occupied floor in the world</li>
                        <li>Highest outdoor observation deck in the world</li>
                        <li>Elevator with the longest travel distance in the world</li>
                        <li>Tallest service elevator in the world</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script>
        $('#startNow.black-but-big,#SelectDate').click(function () {
            FB.getLoginStatus(function (response) {
                // Check login status on load, and if the user is
                // already logged in, go directly to the   message.
                if (response.status == 'connected') {
                    window.location = '@Url.Action("SelectDay", "Home")';
                } else {

                    if ("@ViewBag.Title" != "_HomePage") {
                        window.location = '@Url.Action("Index", "Home")'
                        return false;
                    }
                    // Otherwise, show Login dialog first.
                    FB.login(function (response) {
                        onLogin(response);
                    }, { scope: 'user_friends, email, public_profile' });


                }
            });

        });

        $(document).ready(function () {
            
            $('.slider-text').click(function () {
                location.href = './#ticketinfo';
            });
            $('.carousel').carousel({
                interval: 1000 * 3,
                pause: "false"
            });

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=297311063959457";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        });

    </script>
    <style>
        .header .top-link {display:none;visibility:hidden;}
    </style>
}