
@{
    ViewBag.Title = "SessionTimeOut";
}

<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
            <div class="page-heading"><h1 class="page-title"><b>Time Out</b> Session Expired </h1><span class="line"><hr></span></div>
            IF NO PAYMENT HAS BEEN MADE, PLEASE PROCEED TO REBOOK
            
                <a href="@Url.Action("SelectDate","Home")" class="black-but-big back-but">Book Now<i class="fa fa-arrow-circle-left"></i></a>
            

        </div>
        <div class="right-sidebar personal-information">

            <div>
                Your session has expired. Please click here to return to the homepage.

                If your online payment has been successfully completed, kindly allow us upto 24 hours to receive a booking confirmation, on your registered email address.

                For visits scheduled within the next 24 hours where payment has been completed, please contact us on

            </div>
        </div>
    </div>
</div>

