
@{
    ViewBag.Title = "SelectDate";
}


<div class="main-content">
    <div class="row">
        <div class="left-sidebar">
        </div>
        <div class="right-sidebar secect-your-date">
            <div class="inform"><img src="@Url.Content("~/Content/images/tickect-img.png")"><br><span>INFORMATION TICKET</span></div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="type1">TICKET TYPE</th>
                            <th class="type2 ctrl">AT THE TOP<br>LEVEL 124</th>
                            <th class="type3 bg-orange ctrl">AT THE TOP SKY<br>LEVEL 125+148</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="step1"><strong>For visits scheduled during non-prime hours</strong></label>
                                <span>Adult(12 years +) General Admission</span>
                                <span>Chid (4-12 years) General Admission</span>
                            </td>
                            <td class="ctrl">
                                <label class="step2"><strong>08h00 - 15h30 and 18h30 until closing</strong></label>
                                <span>AED 125</span>
                                <span>AED 95</span>
                            </td>
                            <td class="bg-orange ctrl">
                                <label class="step3"><strong>18h30 until closing</strong></label>
                                <span>AED 350</span>
                                <span>AED 350</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><strong>For visits scheduled during prime hours</strong></label>
                                <span>Adult(12 years +) General Admission</span>
                                <span>Chid (4-12 years) General Admission</span>
                            </td>
                            <td class="ctrl">
                                <label><strong>16h00-18h00</strong></label>
                                <span>AED 200</span>
                                <span>AED 160</span>
                            </td>
                            <td class="bg-orange ctrl">
                                <label><strong>Opening until 17h00</strong></label>
                                <span>AED 500</span>
                                <span>AED 500</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Adult(12 years +) Immediate Entry Admission</span>
                                <span>Chid(4-12 years) Immediate Entry Admission</span>
                            </td>
                            <td class="ctrl">
                                <span>AED 300</span>
                                <span>AED 300</span>
                            </td>
                            <td class="bg-orange ctrl">
                                <span>N/A</span>
                                <span>N/A</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Infant (below 4 years) Immediate Entry Admission</span>
                                <span>Infant (below 4 years) Immediate Entry Admission</span>
                            </td>
                            <td class="ctrl">
                                <span>FREE</span>
                                <span>FREE</span>
                            </td>
                            <td class="bg-orange ctrl">
                                <span>FREE</span>
                                <span>FREE</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><strong>*Prime hours are subject to change.</strong></p>
            <p><strong>Last entry 45  minutes prior to close</strong></p>

            <a href="@Url.Action("SelectDay", "Home")" class="black-but-big">SELECT YOUR DATE<i class="fa fa-arrow-circle-right"></i></a>

        </div>
    </div>
</div>